* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', Georgia, serif;
    line-height: 1.6;
    color: #222;
    background-color: white;
    background-color: url("pattern.png");
    background-repeat: repeat;
    
}
main {
    padding-bottom: 80px;
}

h1.title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 20px 0;
    color: #333 !important;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    word-spacing: 4px;
    margin: 15px 0;
    color: #444;
}

/*CSS for Main Page*/
.intro {
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.highlight.bold {
    color: rgb(0, 128, 128);
    font-weight: 600;
}

nav {
    text-align: center;
    margin: 15px 0;
}

nav a {
    margin: 0 10px;
    color: navy;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

nav a:visited {
    color: purple;
}

nav a:active {
    color: red;
}

.quote {
    background-color: hsl(210, 60%, 90%);
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    opacity: 0.95;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background: #eee;
    border-top: 2px solid #ccc;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(34, 34, 34, 0.9);
    color: white;
    text-align: center;
    padding: 10px;
}

/*CSS for Gallery Page*/
.gallery,
.gallery-stack {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.gallery-out {
    text-align: center;
}

.gallery img,
.gallery-stack img {
    height: 300px;
    width: 200px;
    border: 3px solid #04529D;
    border-radius: 10px;
}

figure.artwork {
    padding-top: 50px;
}

figure.artwork.relative {
    right: 200px;
    position: relative;
}

figure.artwork.absolute {
    position: absolute;
    top: 0;
    right: 200px;
}

figure.artwork.sticky {
    position: sticky;
    top: 0;
    display: inline;
}

figure.gallery-static {
    position: static;
}

figure.artwork.hidden-player {
    display: none;
}

.gallery-stack {
    display: block;
    padding: 80px 0;
    height: 550px;
}

.gallery-stack img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

figure.z-box {
    position: absolute;
    left: 43%;
    transition: transform .2s;
}

figure.z-box:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

figure.z-box.z-n1 {
    left: 30vw;
}

figure.z-box.z-n1 figcaption {
    margin-top: 45px;
    /* margin-top: -65px; */
}

figure.z-box.z-0 {
    left: 35vw;
}

figure.z-box.z-1 {
    left: 42%;
}

figure.z-box.z-2 {
    left: 49%;
}

figure.z-box.z-3 {
    left: 55%;
}

figure.z-box.z-3 figcaption {
    margin-top: 45px;
    margin-right: -65px;
}

figure.z-box.z-n1 img,
figure.z-box.z-3 img {
    height: 260px;
    margin-top: 20px;
}

.floating-box p{
    display:inline-block;
    background-color: #069494;
    padding: 10px 20px;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
}

.clear-box p {
    display: inline-block;
    background-color: #007eff;
    padding: 10px 20px;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
}

